* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #FB6B6B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button {
    background-color: white;
    width: 70vw;
    height: 8vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D70900;
    border: 1px solid #D70900;
    margin-top: 0vh;
}
h1 {
    margin: 4vh 0;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}

.logo img {
    width: 40vw;
}